.imgOffer{
    width: 80%;
    
}
.h111{
    text-align: center;
    margin-top: 70px;
}
#offerr{
    margin-top: 74px;
}
#bttn{
    margin-top: 30px;
    height: 60px;
    margin-left: 32px;
    width: 61%;
    background-color: transparent;
    border: 1px solid;
    color: #5c0b0b    ;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;

}
#bttn:hover{
    background-color: #47c78b;
}
