#imgg{
    width: 70%;
    margin-left: 20px;
   margin-bottom: 25px;
   margin-top: 25px;
}
#ppp{
    width: 350px;
    margin-left: 304px;
    margin-top: 25px;
}
#hhh{
    margin-top: 25px;
    margin-left: 304px;
    width: 880px;
}

#btnn{
    width: 146px;
    border: 1px #937950;
    background-color: #ac8b58;
    color: black;
    border-style: solid;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 304px;

}