.imgOffer {
    width: 100%;
    margin-bottom: 20px;
}

.imgOffer1 {
    width: 55%;
    margin-top: -45px;
    align-items: start;
}

.imgOffer2 {
    width: 40%;
    margin-bottom: 20px;
    
}

.h111 {
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    color: #333;
}

#offerr {
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#offerr:hover {
    transform: scale(1.05);
}

#bttn {
    margin-top: 20px;
    height: 60px;
    width: 80%;
    background-color: #ffffff;
    border: 2px solid #5c0b0b;
    color: #5c0b0b;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#bttn:hover {
    background-color: #5c0b0b;
    color: #ffffff;
    border-color: #47c78b;
}

.offers-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
