 #imgg{
    width: 100%;
    margin-left: 20px;
   margin-bottom: 25px;
   margin-top: 25px;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#ppp{
   margin-top: 40px;
   width: 100%;
}





#btnn{
    width: 146px;
    
    
    color: black;
    border-style: solid;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 30px;
    /* margin-left: 304px; */
   
    background-color: transparent;
    border: 2px solid #87a2be; 
    
    transition: background-color 0.3s, color 0.3s;
} 
#btnn:hover{
    background-color: #87a2be;
}