
.textt{
  margin-top: 200px !important;

}

.imggg {
    width: 100%;
  
}

#btn{
  width: 146px;
  
  
  color: black;
  border-style: solid;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 30px;
  /* margin-left: 304px; */
 
  background-color: transparent;
  border: 2px solid #87a2be; 
  
  transition: background-color 0.3s, color 0.3s;
} 
#btn:hover{
  background-color: #87a2be;
}


