.phypic{

    border: 1px solid rgb(53, 50, 50);
    position: absolute  ;
    
    width: 150px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    z-index: 1;
    border-spacing: 100px;
    top: 70px;
    
}
.star{
    display: flex;
}
