.phypic{

    border: 1px solid rgba(53, 50, 50, 0.01);
    position: absolute  ;
    
    width: 160px;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    position: relative;
    z-index: 1;
    border-spacing: 100px;
    top: 70px;
    
}
.star{
    display: flex;
}
