.btbook{
    margin-left: 190px;
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid #87a2be; 
    color: #060707; 
    transition: background-color 0.3s, color 0.3s;
}
.btbook:hover{
    background-color: #87a2be;
          
          color: #030303;
}