.docpic{
    border: 10px solid #198754;
    position: absolute  ;
    margin-right: 10px;
    width: 200px;
    border-radius: 50%; 
    position: relative;
    z-index: 1;
    border-bottom: 10px solid white;
    border-spacing: 100px;
    top: 56px;
    
    
   
}
.crdDoc{
    height: 70% !important;
}
.cardBody{
    margin-top: 50px;
}
p{
    text-align: start;
}