.docpho{
    width: 25%;
}
.singleDoc{
   
    margin-top: 30px;
    margin-bottom: 30px;
   max-height: 100%;
}
.singleDoc:hover{
    border: 1px solid #87a2be !important; 
}
.btttn{
    margin-top: 50px;
    background-color: transparent;
          border: 1px solid #87a2be; 
          color: #030303; 
          transition: background-color 0.3s, color 0.3s;
}
.btttn:hover{
    background-color: #87a2be;
          
    color: #030303; 
}